{
    border: 0;
    padding; 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 75px;
    margin-bottom: 30px;
    font-size: 62px;
    color: #8468B3;
    text-align: center;
}

.clearall {
    clear: both;
}

/***************** Top navigation menu *****************/

#mainnav {
    width: 100%;
    height: 46px;
    background: #8468B3;
}

#mainnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#mainnav ul > li {
    text-align: center;
    float: left;
    padding-top: 8px;
    border-left: 5px solid #6B4F9A;
    margin-right: -5px;
    font-size: 25px;
    width: 14%;
    height: 38px;
}

#mainnav li:first-of-type {
    border-left: none;
}

#mainnav a {
    text-decoration: none;
    color: #FFFFFF;
}

/************** Side navigation menu *****************/

#photonav {
    background: #C0B2D5;
    dislay: block;
    width: 300px;
    height: 670px;
    float: left;
    font-size: 25px;
}

#photonav ul {
    padding-left: 0;
    padding-top: 60px;
    text-align: center;
}

#photonav li {
    list-style: none;
    padding-top: 15px;
}

#photonav a {
    text-decoration: none;
    color: #FFFFFF;
}

/*************** Side nave block quote **********/

#sidebar {
    background: #C0B2D5;
    dislay: block;
    width: 300px;
    height: 640px;
    float: left;
    font-size: 16px;
    /* padding: 60px 15px 0 15px;*/ 
}

.attribution {
    text-align: right;
    margin-right: 20px; 
}


/************ Main content area *****************/

#maincontent {
    background: #E1E4E9;
    color: black;
    height: 670px;
}

.displayarea {
    text-align: center;
    position: relative;
}

.displayarea img {
    width:500px;
    height: auto;
    padding-top: 80px;
}

.displayarea p {
    padding-left: 40%;
    padding-right: 20%;
    padding-top: 5px;
}

/*********** Footer **************************/

footer {
        text-align: center;
}

footer > img {
    height: 40px;
    width: 40px;
    padding: 60px 0px 60px 25px;
 }
