{
    border: 0;
    padding; 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 75px;
    margin-bottom: 30px;
    font-size: 62px;
    color: #8468B3;
    text-align: center;
}

.clearall {
    clear: both;
}

/***************** Top navigation menu *****************/

#mainnav {
    width: 100%;
    height: 46px;
    background: #8468B3;
}

#mainnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#mainnav ul > li {
    text-align: center;
    float: left;
    padding-top: 8px;
    border-left: 5px solid #6B4F9A;
    margin-right: -5px;
    font-size: 25px;
    width: 14%;
    height: 38px;
}

#mainnav li:first-of-type {
    border-left: none;
}

#mainnav a {
    text-decoration: none;
    color: #FFFFFF;
}

/************** Side navigation menu *****************/

#photonav {
    background: #C0B2D5;
    dislay: block;
    width: 300px;
    height: 670px;
    float: left;
    font-size: 25px;
}

#photonav ul {
    padding-left: 0;
    padding-top: 60px;
    text-align: center;
}

#photonav li {
    list-style: none;
    padding-top: 15px;
}

#photonav a {
    text-decoration: none;
    color: #FFFFFF;
}

/*************** Side nave block quote **********/

#sidebar {
    background: #C0B2D5;
    dislay: block;
    width: 300px;
    height: 640px;
    float: left;
    font-size: 16px;
}

aside {
    font-style: italic;
}

.quotebody {
    margin: 60px 40px 0 40px;
}

.attribution {
    text-align: right;
    margin-right: 35px; 
}


/************ Main content area *****************/

#maincontent {
    background: #E1E4E9;
    color: black;
    height: 670px;
}

.displayarea {
    text-align: center;
    position: relative;
}

.displayarea img {
    width:500px;
    height: auto;
    padding-top: 80px;
}

.displayarea p {
    padding-left: 40%;
    padding-right: 20%;
    padding-top: 5px;
}

/*********** Footer **************************/

footer {
        text-align: center;
}

footer > img {
    height: 40px;
    width: 40px;
    padding: 60px 0px 60px 25px;
 }


/************* Page 2 image gallery ***********/

#imageslide {
    background: #E1E4E9;
    color: black;
    height: 670px;
}

.hovergallery {
    width: 1200px;
    padding-top: 60px;
    margin-left: 30%;
}

.hovergallery img{
    -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.8); /*Mozilla scale version*/
    -o-transform:scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.7; /*initial opacity of images*/
    margin: 0 5px 0 0; /*margin between images*/
}

.hovergallery img:hover{
    -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
}